.background{
  background-image:url("./gsb.jpg");
  background-size:80%;
  height:660px;
  width:700px;
  margin-top:50px;
  margin-left:450px;
  background-repeat:no-repeat;
  position:absolute;
  }




input,label {
    margin:30px 0px 10px 0px;
    letter-spacing: 4px;
    font-size:18px;
    font-weight: bolder;
    
}
input:hover{

        background-color: rgb(51, 156, 212);
      
}

.overlay {


    opacity: 0.85;
    filter: alpha(opacity=85);
    height: 1292px;
    width: 1060px;
right:0;    
position:absolute;
  }
  .overlay2 {

    background: linear-gradient(#000000, #334491);
    opacity: 15;
    filter: alpha(opacity=5);
    height: 1292px;
    width: 1600px;
    margin-left:-1200px;

  }
.h3 {

  font-weight: bold; 
    color:rgb(51, 156, 212);
font-family: 'Rouge Script', cursive; 
font-size: 100px; font-weight: normal; line-height: 38px; margin: 0 0 50px; text-align: center; text-shadow: 1px 1px 2px #000000;
}
.titre {
  margin-top:150px;
}
.boutonlogin {
  display: inline-block;
    margin-left:0px;
    text-align:center;
}
